@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap");

* {
  font-family: "Poppins", sans-serif !important;
}

.left {
  width: 50%;
  min-width: 50%;
  max-width: 50%;
}

.right {
  width: 50%;
  min-width: 50%;
  max-width: 50%;
}
